sounddevice
numpy
soundfile
git+https://github.com/openai/whisper.git
numba>=0.57
llvmlite>=0.40
torch
transformers
apscheduler
chromadb
pytest
watchdog
gradio
scipy

# Data manipulation and plotting
pandas
plotly

# Other dependencies can be added below
requests
flask
flask_cors
duckduckgo-search